<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link href="./css/styles.css" rel="stylesheet" type="text/css">
        <title>ProSeCDA</title>
        <script src="https://d3js.org/d3.v6.min.js"></script>

    </head>
    
    <body>
        <header>
            <h1>ProSeCDA Results Page</h1>
        </header>

        <section>
            <div class="rule-summary">
                <table>
                    <tbody>
                        <tr>
                            <td>Mandatories</td>
                            <td id="mandatory"></td>
                        </tr>
                        <tr>
                            <td>Forbidden</td>
                            <td id="forbidden"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="my_dataviz">
            </div>
        </section>    

        <aside>
            <nav>
            </nav>
        </aside>

        <footer>
            <figure class="header-left">
                <img class="logo-i2bc" src="./images/i2bc.jpg" alt="logo IBC">
            </figure>
        </footer>

        <script type="text/javascript" src="./js/d3_script.js"></script>
    </body>
</html>
